.slideshow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    overflow: hidden;
    width: fit-content;
    position: relative;
}
.logo_inicio{
    width: 100%;
    max-width: 505px;
    height: auto;
    margin: auto;
}
.slideshow1 {
    display: none;
}

.prev,
.next {
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    height: 12px;
    width: 12px;
    margin: 5px;
}

.active,
.dot:hover {
    background-color: #333;
}

.slideshow img {
    width: 100%;
    max-width: 900px; /* You can adjust this based on the original image size */
    height: auto;
    max-height: 700px;
}

/* Adjust the width of the slideshow container for smaller screens */
@media (max-width: 1000px) {
    .slideshow-container {
        width: 100%;
    }
    
    .prev, .next {
        font-size: 16px;
        padding: 12px;
    }
    img{
        width: 100%;
    }
}

@media (max-width: 380px) {
    .prev, .next {
        font-size: 14px;
        padding: 10px;
    }
    
    .dot {
        height: 10px;
        width: 10px;
        margin: 3px;
    }
    img{
        width: 100%;
    }
}