
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1, h2, h3 {
    margin-bottom: 20px;
    font-weight: 700;
    color: #333;
}

.about_epp, .escuelas, .actividades {
    margin-bottom: 40px;
}

.centros ul, .enfoque_cols ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.centros ul li, .enfoque_cols ul li {
    margin-bottom: 10px;
}

.image-gallery, .video-gallery {
    margin-bottom: 40px;
}

.image-grid, .video-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.image-item, .video-item {
    flex: 1 1 calc(20% - 20px); /* Adjust for responsive layout */
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.image-item img, .video-item video {
    width: 100%;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .image-item, .video-item {
        flex: 1 1 calc(50% - 20px); /* 2 columns on smaller screens */
    }
}

@media (max-width: 480px) {
    .image-item, .video-item {
        flex: 1 1 100%; /* 1 column on very small screens */
    }
}
